# Database
DATABASE_URL="postgresql://user:password@localhost:5432/fouadarabai"

# Next.js
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Prisma
PRISMA_CLIENT_ENGINE_TYPE="binary"
